body{
	font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #212121;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    overflow: hidden;
}

/* logo */
.smartx-logo{
  	position: fixed;
  	z-index: 6101;
  	top: 17px;
  	left: 70px;
  	height: 40px;
  	cursor: pointer;
}
.smartx-logo:active{
 	transform: translateY(2px);
  	-webkit-transform: translateY(2px);
}
.smartx-logo svg path { 
  	transition: fill .4s ease; 
}
.menu-is-open .smartx-logo svg path, .smartx-logo.white svg path { 
  	fill: #fff!important; 
}
.smartx-logo .letter,
.smartx-logo .search { 
  	fill: #2B2B2B; 
}	
.smartx-logo:hover .letter { 
  	fill: #269454; 
}

.smartx-logo .corchet { 
  	fill: #269454; 
}

.smartx-logo:hover .search,
.smartx-logo:hover .corchet{ 
    fill: #2B2B2B; 
}



.panel-left .page-content {
    padding: 0;
}
.panel-left .page {
    margin-top: 44px;
    padding-bottom: 44px;
}
.panel-left .navbar {
    position: relative;
    margin-bottom: -44px;
}

.panel-left .navbar{
	background: #1BCE7C;
    color: #fff;
}
.panel-left .page-content,
.panel-left .list-block ul {
    background: #545454;
    color: #fff;
}
.panel-left .list-block ul:after,
.panel-left .list-block ul:before,
.panel-left .list-block .item-inner:after {
	content:none;
}
.panel-left .list-block .item-link .item-inner {
    height: 50px;
    font-size: 16px;
    margin-left: 15px;
    background-image: none;
}
.panel-left .item-media i {
    width: 20px;
    text-align: center;
}
body.with-panel-right-reveal .panel-overlay {
    margin-left: 0;
}
.view-main .navbar, .toolbar, .subnavbar {
	background: #fff;
}

@media (min-width: 769px) {
    body .panel-old.panel-left.panel-cover {
        left: 0;
        width: 50px;
        display: block;
    }
    .view-main .navbar .open-panel {
        display: none;
    }
    .view-main {
        float: right;
        width: -webkit-calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        width: -ms-calc(100% - 50px);
        width: calc(100% - 50px);
    }
    body .panel-old.panel-left.panel-cover {
        left: 0;
        width: 50px;
        display: block;
    }
	body.with-panel-left-cover .panel-overlay{
		display:none!important;
	}	
	
    .view-main .navbar .open-panel {
        display: none;
    }
	.ui-menu{	
	  	color: #fff; 
	}
    .panel-left.animated {
        width:232px!important;
    }
    #page-content .footer{
        padding-left:50px;
        padding-right:50px;
    }
}


.no-touch .panel-left .list-block li:hover {
    background: #1BCE7C;
}
.panel-left .list-block .item-link.selected {
    background: #1E5A34;
}


.navbar, .toolbar, .subnavbar {
    height: 60px !important;
}

/* scroll content */
.page-content-iscroll{
  top:5px;
  overflow: hidden;
}
.wrapper-content {
    position: absolute;
    height: calc(100% - 55px) !important;
    width: 100%;
    overflow: hidden;;
}
.scroll-content{
    padding: 0;
    margin: 0;
    position: relative; 
    background: #f1f1f1 !important;
}

/* scrollbar */
.iScrollVerticalScrollbar {
  background-color: #eaeaea;
  -webkit-transition: width .175s;
  transition: width .175s;
}
.iScrollVerticalScrollbar:before {
  width: 25px;
  content: '';
}
.iScrollVerticalScrollbar:hover {
  width: 14px!important;
}
.iScrollIndicator {
  background-color: #a6a6a6 !important;
}
.iScrollVerticalScrollbar .iScrollIndicator {
  background-color: #a6a6a6 !important;
  border-radius:0px !important;
}

/* fonts */
.ms-Icon {
  font-size:20px;
}









/* view and page customization */
.view-left[data-page="entities"] {
  border-right: none;
}
.view[data-page="entities"] .navbar{
  background-color: #9E9E9E;
}
.page[data-page="entities"] {
  border-right: 1px solid #C8C8C8;
  padding: 0px;
}








/* search customization */
.navbar-through .page > .searchbar{
    top: 44px;
    height: 50px;
}

.ui-search{
	background-color:#E6E6E6;
    height: 40px;
    margin: 5px;
    border: none;
    width: 320px;
    position: absolute;
    right: 0px;
    z-index: 6002;
}  
.ui-search:hover{
	background-color:#DADADA;
}
.ui-search:after{
	content:none;
}


.list-block .item-media {
	font-size:22px;
}

/* --- eve's left view trigger menu ---*/

/*
@media (min-width: 769px) {
	.ui-menu{
		display:none;
	}
}*/
.ui-menu:after{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:204;
	content:''
}
.ui-menu__line{
	display:block;
	position:relative;
	height:2px;
	margin-bottom:4px;
	-webkit-transition:-webkit-transform .35s cubic-bezier(.215,.61,.355,1);
	transition:transform .35s cubic-bezier(.215,.61,.355,1);	
  	color: #2B2B2B; 
  	fill: #2B2B2B;
  	border-color: #2B2B2B;
  	background-color: #2B2B2B;
}
body.with-panel-left-cover .ui-menu__line { 
  	color: #fff; 
  	fill: #fff;
  	border-color: #fff;
  	background-color: #fff;
}
.ui-menu{
    -webkit-transition: background 0.3s, visibility 0.3s;
    -moz-transition: background 0.3s, visibility 0.3s;
    transition: background 0.3s, visibility 0.3s;
}
.ui-menu.animated{	
	  	color: #fff; 
        background-color: #1BCE7C;
	}

.ui-menu__line_2{
	z-index:202
}
.ui-menu__line_3{
	z-index:203
}
.no-touch .ui-menu:hover .ui-menu__line{
	-webkit-transition:-webkit-transform .175s cubic-bezier(.215,.61,.355,1);
	transition:transform .175s cubic-bezier(.215,.61,.355,1);
}
.no-touch .ui-menu:hover .ui-menu__line_1{
	-webkit-transform:translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform:translateY(-3px);
    -o-transform: translateY(-3px);
	transform:translateY(-3px);
}
.no-touch .ui-menu:hover .ui-menu__line_3{
	-webkit-transform:translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform:translateY(3px);
    -o-transform: translateY(3px);
	transform:translateY(3px);
}
.no-touch .ui-menu:active .ui-menu__line{
	-webkit-transition-duration:.05833333s;
	transition-duration:.05833333s
}
.no-touch .ui-menu:active .ui-menu__line_1,
.no-touch .ui-menu:active .ui-menu__line_3{
	-webkit-transform:translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform:translateY(0px);
    -o-transform: translateY(0px);
	transform:translateY(0px);
}







/*intro*/

/* --- Eve's image container ---*/
#world{
	position:fixed;
	z-index:-1;
}
.bg-image {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
    height:100%;
    *background: no-repeat 50% 50%;
    background-size: cover;
}

/* --- Application introductions --- */
.intro{
	display:table;
	width:100%;
	height:100%;
	z-index:5;
}
.intro-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.intro-content .icon{
	font-size:40pt;
	color:#ffffff;
}
.intro-content h1{
	color: #2b2b2b;
	margin:5px 0 5px;
}
.intro-content p{
	color:rgba(0,0,0,0.6);
	margin:5px 0 5px;
}
.intro-content .action-wrapper{
	display: block;
    margin-top: 40px;
}
.intro-content .action-wrapper a{
	margin-top:30px;
}
.intro-content .action-wrapper span{
	color:#ffffff;	
}

.box{
    background: #fff;
    width: 30%;
    height: 200px;
    display: inline-block;
    margin: 6px;
    cursor:pointer;
	-webkit-transition: all 0.2s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all 0.2s cubic-bezier(.645,.045,.355,1);
    -o-transition: all 0.2s cubic-bezier(.645,.045,.355,1);
    transition: all 0.2s cubic-bezier(.645,.045,.355,1);
    box-shadow: 0 2px 4px rgba(0,0,0,.07);
}
.box:hover{
    background: #fff;
    width: 30%;
    height: 200px;
    display: inline-block;
    margin: 6px;
    cursor:pointer;
    transform:scale(1.025);
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
}
.box:active{
 	transform: translateY(2px);
  	-webkit-transform: translateY(2px);
}
.tabcard{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
}
.tabcard .content-block{
    padding:0px;
}
.tabcard .button{
    width: inherit;
    color: inherit;
}
.tabcard .button.active{
    border-bottom: 2px solid #1BCE7C;
}
.page.page-on-center{
    padding-top:60px;
}
.chip{
    max-width: 160px;
}
.list-block .item-title {
    min-width: 0;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-block .item-content {
    box-sizing: border-box;
    padding-left: 16px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color:#fff;
}
.list-block .item-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 40px;
}
.list-block .item-link .item-inner {
    padding-right: 42px;
    /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20x…9.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");*/
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-position: -webkit-calc(100% - 16px) center;
    background-position: calc(100% - 16px) center;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.list-block {
    margin: 32px 0;
    font-size: 16px;
}
.page-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
    background: #F8F9FC;
}
.list-block .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.list-block .item-inner {
    padding-right: 16px;
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 48px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
}
#app, .mainapp{
    width: 100%;
    height: 100%;
}
.view.view-left.navbar-through .navbar,.view.view-left.navbar-through, .panel-old.panel-left.panel-cover{
    border-radius: 0px!important;
}
.ui-menu.open-panel i{
    vertical-align: 15%;
}
.fa-1-5x{
    font-size:1.5em;   
}
.statusbar-overlay{
    width: 100%;
    height: 100%;
    margin-left: 232px;   
}
.padding-top{
    padding-top:15px!important;
}
.no-margin{
    margin:0px!important;
}
.margin-top{
    margin-top:30px!important;
}
.margin-bottom{
    margin-bottom:30px!important;
}
.margin-bottom-half{
    margin-bottom:15px!important;
}
.margin-left{
    margin-left:30px!important;
}
.margin-right{
    margin-right:30px!important;
}
.tooltip{
    z-index:5000;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.cd-search-trigger.user{
    z-index:6200;
}
.alert {
    margin-bottom:0px;
}
.popover{
    z-index:6000;
}
#user-popover{
    top:51px!important;
    right:24px!important;
    left:inherit!important;
}
#user-popover .popover-content{
    padding:0px;
}
#user-popover .panel{
    margin:0px;
    border:0px;
}
.popover>.arrow{
    border-bottom-color: rgba(0,0,0,0.2)!important;
}
.facebook{
    color:#3b5998
}
.linkedin{
    color:#0077b5
}
.google{
    color:#dc4e41
}
.microsoft{
    color:#00a1f1
}
.no-border{
    border:0px;
}
.page__loader{
    opacity:0;
}
.user-pad h3{
    margin:11.5px 0;
}
.griddle-container .table .footer-container{
    text-align: center;
    background: #eee;
}
.griddle-container .table{
    margin-bottom:0px;
}
.griddle-previous,.griddle-page,.griddle-next{
    float: left;
    width:33%;
    min-height:1px;
}
.griddle-page{
    width: 34%;
}
.griddle-page select{
    min-width: 30px;
    background-color: #fff;
}
.griddle-footer button{
    background-color:transparent;
    border:none;
}
.table.buscar tr {
    cursor:pointer;
}
#historico{
    width:100%;
    height: 239px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#histograma{
    width:100%;
    height: 239px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pointer {
    cursor:pointer;
}
#masonry .item{
        width:100%;
    }
@media (min-width:481px){
    #masonry .item{
        width:205px;
    }
}
#listadoEmpresasCuenta #masonry .panel-heading{
    padding:0px
}
#listadoEmpresasCuenta #masonry .panel-heading span{
    width:100%;
    display:inline-block;
}
.warning{
    color: #ffffff;
    background-color: #ff9800;
    border-color: #ffc599;
    display: block;
}
.primary {
    color: #ffffff;
    background-color: #428DCB;
    border-color: #428DCB;
}
.user-popover div, .ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.fa-microsoft:before {
  content: "\f17a";
}
.modal-backdrop,.modal{
    z-index:8000;
}
#masonry .item .panel-body div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-border-bottom{
    border-bottom:1px solid #ddd;
}
.label-block{
    display:block;
    float:left;
    margin: 0 1px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: auto!important;
}
.panel-default>.panel-heading {
    border-color: #ddd;
    font-size: 1.1em;
    font-weight: 600;
    background: inherit;
}
.panel-default>.panel-footer {
    background: inherit!important;
    border-top:1px solid #ddd;
}
.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}
ul.nav.nav-tabs{
    position: relative;
    z-index: 2;
}
.nav-tabs>li>a{
    outline: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:focus:hover, .nav-tabs>li.active>a:active{
    box-shadow: none;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none; 
    border-radius: 0;
}
.tab-content{
    top: -1px;
    position: relative;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li.disabled>a, .nav-tabs>li.disabled>a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover,.nav-tabs>li.disabled>a:hover, .nav-tabs>li.disabled>a:focus:hover {
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tab-content{
    background-color:#fff;
    border:1px solid #ddd;
}
.tab-content .panel{
    border:none;
}
div[role=tabpanel] .row:not(:last-child):after {
  content : "";
  position: relative;
  left    : 5%;
  bottom  : 0;
  height  : 1px;
  width   : 90%;
  border-bottom:1px solid #ddd;
}
.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
.btn-default {
    background-color: #ddd;
}
#header-dropdown{
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
    text-transform: inherit;
    background-color:inherit;
    padding:0;
    padding-bottom:15px;
}
.oppty-menu input,.oppty-menu [contenteditable="true"]{
    background-color: transparent;
    box-shadow: inset 0 -1px 0 #ddd;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding-bottom:2px;
    display: block;
}
.oppty-menu input{
    font-size: inherit;
    border:0;
}
.oppty-menu [contenteditable="true"]:active,
.oppty-menu [contenteditable="true"]:focus,
.oppty-menu input:active,
.oppty-menu input:focus{
border:none;
outline:none;
box-shadow: inset 0 -2px 0 #428DCB;
}
.react-autosuggest__container{
    position:relative;
}
ul.react-autosuggest__suggestions-container{
    padding: 0;
    font-size: 16px;
    position: absolute;
    z-index: 12000;
    background: #ffffff;
    box-shadow: 0 3px 3px #CCCCCC;
    width: 94%;
    transition: opacity .15s linear;
}
ul.react-autosuggest__suggestions-container li{
    list-style: none;
    text-align: left;
    color:#666666;
    padding:5px;
}
ul.react-autosuggest__suggestions-container li:not(:last-child){
    border-bottom:1px solid #EEEEEE;
}
ul.react-autosuggest__suggestions-container li detalle{
    color:#CCCCCC;
}
.autosuggest-status{
    position: absolute;
    margin: -30px 0 0 -25px;
}
.vcard-icon{
    width:96px;
}
.fa-stack-align{
    margin-top:-1px!important;
}
.lista-reglas .form-group{
    margin:0;
}
.lista-reglas li{
    border:0;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0,0,0,0.2);
}
.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0,0,0,0.2);
}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft:focus,.btn-microsoft.focus{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:hover{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}.btn-microsoft:active:hover,.btn-microsoft.active:hover,.open>.dropdown-toggle.btn-microsoft:hover,.btn-microsoft:active:focus,.btn-microsoft.active:focus,.open>.dropdown-toggle.btn-microsoft:focus,.btn-microsoft:active.focus,.btn-microsoft.active.focus,.open>.dropdown-toggle.btn-microsoft.focus{color:#fff;background-color:#0f4bac;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{background-image:none}
.btn-microsoft.disabled,.btn-microsoft[disabled],fieldset[disabled] .btn-microsoft,.btn-microsoft.disabled:hover,.btn-microsoft[disabled]:hover,fieldset[disabled] .btn-microsoft:hover,.btn-microsoft.disabled:focus,.btn-microsoft[disabled]:focus,fieldset[disabled] .btn-microsoft:focus,.btn-microsoft.disabled.focus,.btn-microsoft[disabled].focus,fieldset[disabled] .btn-microsoft.focus,.btn-microsoft.disabled:active,.btn-microsoft[disabled]:active,fieldset[disabled] .btn-microsoft:active,.btn-microsoft.disabled.active,.btn-microsoft[disabled].active,fieldset[disabled] .btn-microsoft.active{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-social {
    position: relative;
    padding-left: 55px;
    margin:10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:160px;
}
.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.modal-login.modal-dialog{
    max-width:450px;
}
form .form-footer {
    padding-top: 36px;
    text-align: center;
}
form .form-footer button{
    width:160px;
    height: 35px;
}
  form .form-divider {
    clear: both;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 1px;
    position: relative;
    display: block;
    margin: 36px 0; }
    form .form-divider span {
      position: absolute;
      left: 50%;
      top: -15px;
      text-align: center;
      -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
              transform: translateX(-20px);
      line-height: 30px;
      width: 40px;
      height: 30px;
      display: inline-block;
      background-color: #fff; }
      
      
#page-content .footer{
    margin-top:30px;
    background-color:#23262b;
}
#page-content .footer .row{
    padding: 45px 15px;
}

#page-content .footer, #page-content .footer h2, #page-content .footer a{
    color:#aab2c1;
}
#page-content .footer ul{
    list-style:none;
    padding:0;
}
#page-content .footer .footer-divider {
    border-color: #aaa;
    border-color: rgba(255,255,255,0.2);
    margin:0;
}
.page-main-content{
    min-height: -webkit-calc(100% - 150px);
        min-height: -moz-calc(100% - 150px);
        min-height: -ms-calc(100% - 150px);
        min-height: calc(100% - 150px);
}