.main-content {
    padding-top: 20px;
}
.greeting {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.greeting h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0
}
.greeting p{
    max-width: 660px;
    margin: 0 auto;
    font-size: 15px;
}
.greeting .highlight{
    color:#62be7f;
}
.greeting a {
    color: #495055;
    text-decoration: underline
}
no-touch .greeting a:hover {
    color: #26292c
}
/*
.row {
    margin-left: -20px;
    *zoom: 1
}
.row:before,
.row:after {
    display: table;
    content: "";
    line-height: 0
}
.row:after {
    clear: both
}
*/
.container.home,
.navbar-static-top .container.home,
.navbar-fixed-top .container.home,
.navbar-fixed-bottom .container.home {
    width: 940px
}
/*
.row-fluid {
    width: 100%;
    *zoom: 1
}
.row-fluid:before,
.row-fluid:after {
    display: table;
    content: "";
    line-height: 0
}
.row-fluid:after {
    clear: both
}
*/
.container.home {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}
.container.home:before,
.container.home:after {
    display: table;
    content: "";
    line-height: 0
}
.container.home:after {
    clear: both
}
.container.home-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1
}
.container.home-fluid:before,
.container.home-fluid:after {
    display: table;
    content: "";
    line-height: 0
}
.container.home-fluid:after {
    clear: both
}

.home .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear
}
.home .fade.in {
    opacity: 1
}
.fadeIn, .table-collapsible tr.sub td {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated, .table-collapsible tr.sub td {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.action-box {
    background: white;
    font-size: 16px;
    line-height: 24px;
    padding: 75px 45px;
    text-align: center;
    border-radius: 1px;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
    *margin-bottom: 16px;
     -webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
    transition: all .15s cubic-bezier(.33,.66,.66,1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: default;   
}
.no-touch .action-box:hover {
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}

.action-box img {
    margin-bottom: 30px;
}

.action-box .btn {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    font-weight: 700;
    margin: 30px auto 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 200px;
    width: 100%
}

.home .btn-primary,
.home .btn-primary[disabled] {
    color: #fff;
    background: #62be7f
}
.home .btn-primary:hover,
.home .btn-primary:focus,
.home .btn-primary[disabled]:hover,
.home .btn-primary[disabled]:focus {
    background: #50b770
}
.home .btn-primary:active,
.home .btn-primary[disabled]:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
}

.home img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.action-box p {
    margin: 0 auto;
    max-width: 380px;
    font-size: 14px;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated,
.table-collapsible tr.sub td {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.animated.infinite,
.table-collapsible tr.sub td.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.fadeIn,
.table-collapsible tr.sub td {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}